/*-- scss:defaults --*/

// tema base
$theme: "litera" !default;

// importar fuentes locales

@font-face {
  font-family: 'Lato';
  src: url('fuentes/Lato-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Fira Code Light';
  src: url('fuentes/FiraCode-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Monda';
  src: url('fuentes/Monda-Regular.ttf') format("truetype");
}

$font-family-sans-serif: "Lato", 'Arial', sans-serif;
// color de enlaces 
$link-color: #F6901B;
            // #28a87d, #00bc8c, #F6901B

/*-- scss:rules --*/


code, .code {
  font-family: 'Fira Code Light', monospace;
  font-weight: 300;
}

code{
  color: #795548
}

// titulo banner en blog
.quarto-title-banner .quarto-title .title {
  font-weight: 400;
  //color: #8bc34a;
}

.lead {
  font-size: 1.1rem;
  font-weight: 400;
  //color: #8bc34a;
}

h1, .h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2, .h2 {
    font-size: 1.55rem;
    font-weight: 600;
}

.quarto-listing-category.category-cloud .category-cloud-10 {
  font-size: 0.7rem;
}

.headroom-target, header.headroom {
  font-family: 'Monda', sans-serif;
}
